body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

canvas {
  border: 2px solid #000;
}

#fileInput {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(162, 167, 235);
  font-size: 0.8em; /* Cambia el tamaño de la fuente */
  font-weight: bold; /* Cambia el grosor del texto */
  color: rgb(10, 70, 233); /* Cambia el color del texto */
  border: none; /* Quita el borde */
  padding: 0px 10px; /* Ajusta el espaciado interno */
  border-radius: 10px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  margin: 0px; 
  
}

#fileInput:hover {
background-color: rgb(66, 75, 197); /* Cambia el color de fondo al pasar el ratón */
}


.styled {
    border: 0;
    line-height: 2;
    padding: 0 3px; /*Ajusta el espacio alrededor del texto*/
    font-size: 0.8rem; /*Ajusta el tamaño de fuente */
    text-align: center;
    color: rgb(243, 236, 236);
    text-shadow: 1px 1px 1px rgb(222, 223, 248);
    border-radius: 10px;
    /*background-image: url('pause.jpg'),si deseas imagen de fonfo*/ 
    background-image:linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
                                      /*url('play.jpg');*/
    background-color: rgb(66, 75, 197);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
                
}

.styled:hover {
    background-color: rgb(162, 167, 235);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#playPauseButton {
position: relative;
}




